:root {
  --blue: #2b3945;
  --dark-bg: #202c37;
  --light-text: #111517;
  --light-input: #858585;
  --light-bg: #fafafa;
  --white: #ffffff;
  //@at-root
  --bg: #fafafa;
  --text: #111517;
  --elements: #ffffff;
  // --input: #858585;
}
