:root {
  --blue: #2b3945;
  --dark-bg: #202c37;
  --light-text: #111517;
  --light-input: #858585;
  --light-bg: #fafafa;
  --white: #ffffff;
  //@at-root
  --bg: #202c37;
  --text: #ffffff;
  --elements: #2b3945;
  --input: #858585;
}
